################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Directories
.vs/
bin/
bin-int/

# Files
*.user
/Cherry/Cherry.vcxproj
/Cherry/Cherry.vcxproj.filters
/Sandbox/Sandbox.vcxproj
